@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Google Drive Text Editor</h1>

<p>This web app allows you to:</p>
<ul>
    <li>Pick a file from your Google Drive using the Drive Picker</li>
    <li>Edit <strong>XML</strong>, <strong>TXT</strong>, and <strong>JSON</strong> files in a simple text editor</li>
    <li>Save changes directly back to your Google Drive</li>
</ul>

<div class="alert alert-info">
    👉 To get started, click on <strong><em>Google Drive</em></strong> in the left menu.
</div>


<p>Make sure you're signed in to your Google account and have given the necessary permissions.</p>

